SURREAL_USER=root
SURREAL_PASS=
SURREAL_HOST=127.0.0.1
SURREAL_PORT=8100
SURREAL_NAMESPACE=stocksense
SURREAL_DATABASE=stocksense
FRONTEND_PORT=5173
BREVO_API_KEY=
BREVO_FROM_EMAIL=divy.r.vora14@gmail.com
